.possibilitiesBlock{
  h2{
    font-size: 24rem;
    color: #464E5F;
    font-weight: 700;
    margin-top: 0;
  }
  h3{
    font-size: 18rem;
    color: #464E5F;
    font-weight: 400;
    text-align: center;
    margin-top: 40rem;
  }
  .animationBlock{
    height: 300rem;
  }
}