
.full_study{
  text-transform: none;
  font-weight: 500;
  font-size: 20rem;
  color: #464e5f;
  text-align: center;
  margin-bottom: 50rem;
  margin-top: 20rem;
  .fullStudyLink{
    color: #3156a6;
  }
}
.sensorChartBlock{
  border-left: 1rem solid #e1ecf5;
}