.solutionsBlock{
  width: 250rem;

  h3{
    text-transform: uppercase;
    font-size: 12rem;
    font-weight: 700;
    color: #464E5F;
  }
  .solutionList{
    display: flex;
    flex-direction: column;
    gap: 8rem;
    max-height: 433rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
