.log_form_sect{
  margin: 90rem auto;
  padding: 75rem 150rem;
  background-color: #F8F8F8;
  border-radius: 52rem;
  max-width: fit-content;
  font-family: "PT Root UI";
  @media (max-width: 480px){
    padding: 26rem 9rem;
    margin: 0 auto;
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.login_form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 17rem;

}
.login_form input{
  padding: 16rem;
  background-color: #fff;
  border: 1rem solid #3156A6;
  border-radius: 12rem;
}
.login_form input[type=submit]{
  text-transform: uppercase;
  background-color: #3156A6;
  color: white;
  cursor: pointer;
}
.log_form_block{
  max-width: 360rem;
  text-align: center;
}
.log_form_block h2{
  margin: 0;
  font-size: 35rem;
  font-weight: 700;
  @media (max-width: 480px){
    font-size: 25rem;
  }
}
.log_form_block h3{
  margin-top: 10rem;
  margin-bottom: 35rem;
  font-size: 16rem;
  font-weight: 500;
}
.log_form_block h3 a{
  color: #3156A6;
}
a.forgot_password{
  align-self: start;
  font-size: 16rem;
  color: #3156A6;
}
.forgot_pass h2{
  font_size: 30rem;
  margin-bottom: 22rem;
}
.forgot_block{
  min-height: 66vh;
}
p{
  font-size: 16rem;
}


.error_message {
  font-size: 12px;
  margin-top: -14px;
  text-align: start;
  color: #EE2B49;
  padding-left: 4px;
}
