.btnBlock{
  display: flex;
  border-radius: 8px;
  border: 1px solid #C9CFE5;
  padding: 8rem 16rem;
  gap: 8rem;
  height: fit-content;
  width: 264rem;
  align-items: center;
  cursor: pointer;
  color: #464E5F;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .solutionLogo{
    width: 24rem;
    height: 24rem;
  }
  .solutionTitle{
    font-size: 14rem;
    font-weight: 700;
  }

  &:hover {
    background-color: rgba(201, 207, 230, 0.5647058824);
    color: #464E5F;
  }
}
