.study_body{
  margin-right: 40rem;
}
.firstTestsTabs{
  display: flex;
  gap: 45rem;
  .firstTestsTabList{
    flex-direction: column;
    width: 281rem;
    svg{
      height: 17rem;
      width: 17rem;
    }
    h4{

    }
    .react-tabs__tab{

      &:hover{

      }
      &:last-child:hover{
      }
    }
    .react-tabs__tab--selected {

      &:last-child{
      }
    }

  }

}
.study_head{
  font-weight: 700;
  font-size: 24rem;
  color: #464e5f;
  padding-bottom: 16rem;
  border-bottom: 1rem solid #c9cfe5;
  margin: 0;

}
.left_tabs{
  display: flex;
  flex-direction: column;
  gap: 30rem;
  width: 281rem;
}
.full_course{
  font-size: 16rem;
  color: #3156a6;
  border: 2rem solid #3156a6;
  border-radius: 23rem;
  padding: 14rem 40rem;
  text-align: center;
  cursor: pointer;
  flex-grow: 0!important;
  &:hover{
    background-color: #E1ECF5;
    color: #000;
  }
}