.sitebody{
  display: flex;
  gap: 40rem;
  .leftnav{
    position: fixed;
    top: 17%;
  }
  .CreateSolution{
    flex-grow: 1;
    .breadcrumb {
      font-size: 14rem;
      color: #ABB0C3;
      font-weight: 500;
      margin-top: 24rem;
      ul{
        margin: 0;
        padding: 0;
        display: flex;
        gap: 22rem;
        :first-child{
          list-style-type: none;
          color: #3156A6;
        }
      }
    }
    h2{
      font-size: 24px;
      color: #464E5F;
      font-weight: 700;
      margin-top: 4rem;
      margin-bottom: 24rem;
    }
    form{
      height: 80vh;
      overflow-y: scroll;
      .solutionName{
        font-size: 14rem;
        color: #ABB0C3;
        font-weight: 500;
        .solutionTitle{
          padding-left: 8rem;
          margin-bottom: 4rem;
        }
      }
      input.nameInput{
        padding: 14rem 16rem;
        border-radius: 12px;
        border: 1px solid #C9CFE5;
        width: 372rem;
        font-size: 16rem;
        ::placeholder{
          font-size: 16rem;
          font-weight: 400;
          color: #ABB0C3;
        }
      }
      input[type=radio] {
        display: none;
      }
      input[type=radio]+label {
        display: inline-block;
        width: 80rem;
        margin: -2rem;
        padding: 20rem 0;
        margin-bottom: 0;
        font-size: 16rem;
        color: #464E5F;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-color: #F0F5FA;
        background-repeat: repeat-x;
        :hover{
          background-color: #e6ebf0;
        }
      }
      input[type=radio]:checked+label {
        background-image: none;
        outline: 0;
        background-color: #e6ebf0;
      }
    }
  }

}