.SelectModal{
  select{
    font-size: 16rem;
    font-weight: 400;
    color: #464E5F;
    border-color: transparent;
    outline-color: transparent;
    border-radius: 12rem;
    padding: 12rem 16rem;
    height: 48rem;
    width: 408rem;
    appearance: none;
    background: url(../../img/icon/icon__arrow_down.svg) no-repeat right;
    background-color: #F0F5FA;
    background-position-x: calc(100% - 8rem);
    margin-bottom: 24rem;
  }
  h5{
    padding-left: 8rem;
    font-size: 14rem;
    font-weight: 500;
    color: #ABB0C3;
    margin: 0 0 4rem  0;
  }
}