.spinner{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
  color: #ffffff;
  z-index: 5000;
  background-color: #00000080;
  position: fixed;
  gap: 0;
  backdrop-filter: blur(5rem);
  .spinnerAnim{
    width: 30%;
    @media (max-width: 480px){
      width: 80%;
    }
  }
  p{
    font-size: 24rem;

  }
  p.spinnerText{
    position: absolute;
    margin-top: 400rem;
    @media (max-width: 480px) {
      font-size: 18rem;
      margin-top: 250rem;

    }
  }
}