.quiz_block{
  padding: 35rem 110rem;
  background-color: #f9f9f9;
  border-left: 1rem solid #e1ecf5;
  border-radius: 21rem;
  margin-top: 30rem;
  .test_label{
    font-weight: 500;
    font-size: 25rem;
    text-transform: none;
    text-align: center;
    margin: 0 auto 30rem;
  }
  .answer_block{
    .form_check{
      display: flex;
      width: 100%;
      gap: 20rem;
      input[type=checkbox]{
        width: auto;
        accent-color: #232323;
        position: initial;
      }
      label{
        width: fit-content;
      }

    }
    .next_question_btn{
      padding-top: 15rem;
      padding-bottom: 15rem;
      background-color: #3156a6;
      border-radius: 6rem;
      width: 228rem;
      color: #fff;
      text-align: center;
      margin-top: 25rem;
      margin-bottom: 25rem;
      cursor: pointer;
    }
  }
}
.form_check{
  display: flex;
  justify-content: flex-start;
  gap: 20rem;
  flex-grow: 0;
  @media (max-width: 480px) {
    gap: 10rem;
  }
  input{
    width: auto;
    position: initial;
    clip-path: none;
    height: initial;
  }
}
#progress-bar, #secondTest-progress-bar {
  height: 5rem;
  background-color: #C9C9C9;
  margin-top: 55rem;
  @media (max-width: 480px) {
    margin-top: 20rem;
  }
}
#progressBarFull, #secondTest-progressBarFull {
  height: 4rem;
  background-color: #3156A6;
  width: 0;
}
.quiz-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 38rem 118rem;
  border-radius: 21rem;
  background: #f9f9f9;
  @media (max-width: 480px) {
    padding: 25rem 16rem;
  }
  h2{
    font-weight: 500;
    font-size: 25rem;
    margin-bottom: 30rem;
    margin-top: 0;
    text-align: center;
    text-transform: none;
    @media (max-width: 480px) {
      font-size: 18rem;
      font-weight: 700;
    }
  }
  .testingBlock{
    h3{
      font-size: 24rem;
      text-transform: none;
      margin-top: 0;
      margin-bottom: 30rem;
      font-weight: 400;
      @media (max-width: 480px) {
        font-size: 18rem;
      }
    }
    form{
      display: flex;
      flex-direction: column;
      gap: 20rem;
      .form_check{
        input[type=checkbox]{
          @media (max-width: 480px) {
            overflow: initial;
          }
        }
        label{
          text-transform: none;
          font-size: 18rem;
          @media (max-width: 480px) {
            font-size: 16rem;
          }
        }
      }
    }
    .answers-info{
      font-size: 16rem;
      margin-top: 25rem;
      text-transform: none;
      font-weight: 400;
    }
    .flex-right button{
      border-radius: 6rem;
      width: 228rem;
      background: #3156a6;
      padding: 15rem;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      cursor: pointer;
      @media (max-width: 480px) {
        width: 210rem;
      }
      &:disabled{
        background-color: #c2bfbf;
        border: none;
        cursor: initial;
      }
    }
    .progress-counter{
      font-weight: 400;
      font-size: 16rem;
      text-align: center;
      margin-top: 10rem;
    }
  }
}

