.IncomesLine{
  display: flex;
  align-items: center;
  margin-top: 8rem;
  justify-content: space-between;
  padding: 8rem;
  .rightside{
    display: flex;
    .titleImg{
      margin-right: 12rem;
      img{
        width: 32rem;
        height: 32rem;
      }
    }
    .titleBlock{
      .titleNameBlock{
        display: flex;
        align-items: center;
        .titleName{
          color: #464E5F;
          font-size: 16rem;
          font-weight: 700;
        }
      }
      .titleNameType{
        font-size: 12rem;
        font-weight: 500;
        color: #ABB0C3;
      }
    }
  }
  .leftside{
    display: flex;
    align-items: center;
    gap: 32rem;
    .incomesValue{
      font-size: 16rem;
      font-weight: 700;
      padding-left: 35rem;
    }
    .axuillaryBlocks{
      display: flex;
      gap: 20rem;
      .notifications{
        padding-left: 20rem;
        border-left: 1rem solid #C9CFE6;
      }

    }
  }
}