.studyingTabs{
  .myResultLeftTabs{
    height: fit-content;
    gap: 5rem;
    h4.mobileHeader4{
      display: none;
      @media (max-width: 480px) {
        display: block;
        padding: 12rem 16rem;
        margin: 0;
        font-size: 14rem;
      }
    }
  }

  .firstTestsTabList{
    justify-content: space-between;
    width: 281rem;
    position: relative;
    @media (max-width: 480px) {
      display: none;
    }
    .react-tabs__tab{
      padding: 12rem 16rem;
      flex-grow: 0;
      width: calc(100% - 32rem);
    }

    span{
    }
  }

}
.returnLink{
  display: flex;
  align-items: center;
  gap: 10rem;
  font-size: 14rem;
  padding: 12rem 16rem;
  border-radius: 16rem;


  &:hover{
    background-color: #E1ECF5;
    box-shadow: 0 4rem 4rem 0 rgba(0, 0, 0, 0.25);
  }
  &:active{
    box-shadow: none;
  }
}