.MyResultsBody{
  padding-right: 40rem;
  @media (max-width: 480px) {
    padding-right: 0;
  }
}
.result_head{
  font-size: 24rem;
  color: #464E5F;
  font-weight: 700;
  margin: 0 0 8rem 0;
}
.result_tabs{
  width: 100%;
  color: #464E5F;
  font-size: 12rem;
  font-weight: 700;
  text-transform: uppercase;
  flex-grow: 1;
  h2{
    font-size: 20rem;
  }

}
