.MyResultsBody {
  padding-right: 40rem;
  @media (max-width: 480px) {
    padding-right: 0;
  }
  .breadcrumb {
    font-size: 14rem;
    color: #ABB0C3;
    font-weight: 500;
    margin-top: 24rem;
    margin-bottom: 10rem;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      gap: 22rem;
      :first-child {
        list-style-type: none;
        color: #3156A6;
      }
    }
  }
}
.result_head{
  font-size: 24rem;
  color: #464E5F;
  font-weight: 700;
  margin: 0 0 8rem 0;
}