.AnalysisSensorChartBlock{
  width: 55vw;
  .analysisHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16rem;
    .chartSettingsBlock{
      margin-bottom: 0;
    }
    h3{
      color: #464E5F;
      margin-top: 0;
      margin-bottom: 0;
    }
    .customCheckbox{
      min-width: fit-content;
      flex-grow: 0;
    }
  }
  h3{
    margin-top: 28rem;
    margin-bottom: 10rem;
    text-align: left;
  }
  .AnalysisLegend{
    bottom: 25%;
    left: 20%;
    gap: 260rem;
  }
}