.StudyFirst{
  @media (max-width: 480px) {
    width: 281rem;
  }
  h2{
    font-weight: 700;
    font-size: 20rem;
    text-transform: uppercase;
    color: #464e5f;
    margin-bottom: 16rem;
    margin-top: 16rem;
  }
  p{
    font-size: 16rem;
    color: #000;
    margin-bottom: 30rem;
  }
  .lesson_blocks{
    display: flex;
    flex-wrap: wrap;
    gap: 25rem;
    margin-bottom: 50rem;
    @media (max-width: 480px) {
      width: 100%;
      justify-content: center;
    }
    .lesson_block{
      width: 234rem;
      height: 138rem;
      border-radius: 13rem;
      transition: 0.2s ease-in-out;
      flex-grow: 0;
      position: relative;
      @media (max-width: 480px) {
        width: 100%;
      }
      iframe{
        width: 100%;
        height: 100%;
        border-radius: 13rem;
        @media (max-width: 480px) {
        }
      }
      .iframe_cover{
        background-color: #3156A6;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 2rem;
        left: 2rem;
        border-radius: 13rem;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30rem;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }
}