.solutionButtons{
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding-top: 24rem;
  @media (max-width: 430px) {
    padding-top: 16rem;
  }
  h3{
    font-size: 12rem;
    font-weight: 700;
    color: #464E5F;
    text-transform: uppercase;
  }
}