.Header {
  padding: 20rem 40rem;
  margin-bottom: 24rem;
  border-bottom: 1px solid #E1ECF5;
  display: flex;
  align-items: center;
  gap: 48rem;
  @media (max-width: 480px) {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
    padding: 12rem 16rem;
    margin-bottom: 0;
    gap: 0;
    justify-content: space-between;
  }
}
.Header a{
  color: #464E5F;
}
.logo img{
  width: 200rem;
  height: auto;
  @media (max-width: 480px) {
    width: 140rem;
    height: 40rem;
  }
}
.links{
  font-size: 16rem;
  display: flex;
  gap: 48rem;
  margin-left: auto;

  @media (max-width: 480px) {
    display: none;
  }
}
.mybonus{
  font-size: 16rem;
  padding: 14rem 28rem;
  border-radius: 24rem;
  border: #C9CFE5 1px solid;
  @media (max-width: 480px) {
    display: none;
  }
  span{
    font-weight: 700;
  }
}
.profileLinks{
  display: flex;
  gap: 16rem;
}
.profileNav img{
  border-radius: 50%;
  border: #C9CFE5 1px solid;
  padding: 14rem;
  height: 20rem;
  width: 20rem;
  @media (max-width: 480px) {
    //height: 40rem;
    //width: 40rem;
  }
}
.notificBlocks {
  .notificTooltip {
    border-bottom: 1rem solid #ABB0C3;
    padding-bottom: 16rem;
    padding-top: 16rem;
    h4 {
      font-size: 14rem;
      margin: 0;
    }

    .notificBottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 4rem;
    }

    .notificDate {
      display: flex;
      font-size: 12rem;
      align-items: center;

      img {
        width: 16rem;
        height: 16rem;
        border: none;
        padding: 0;
      }
    }

    .notificValue {
      font-size: 16rem;
      font-weight: 700;
    }
  }
  :last-child{
    border-bottom: none;
    padding-bottom: 0;
  }
  :first-child{
    padding-top: 0;
  }
}
.desktop{
  @media (max-width: 480px) {
    display: none;
  }
}
.mobile{
  display: none;
  @media (max-width: 480px) {
    display: block;
  }
}
