.progressTitle{
  color: #464E5F;
  font-size: 12rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.barLineBlock{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16rem;
  .barLine{
    padding: 8rem 12rem;
    border-radius: 8rem;
    font-size: 16rem;
    font-weight: 700;
    color: #fff;
  }
}
.submitBtn{
  background-color: #0DA46F;
  border: none;
  font-size: 14rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding: 16rem 0;
  width: 100%;
  border-radius: 12rem;
  margin-top: auto;
  cursor: pointer;
  margin-top: 90rem;
}
input{
  background-color: transparent;
  border: none;
  color: #464E5F;
  font-size: 16rem;
  font-weight: 400;
  outline: none;
  width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
