.Selectblue {
  select{
    font-size: 20rem;
    font-weight: 700;
    color: #3156A6;
    height: 32rem;
    border-color: transparent;
    border-radius: 12rem;
    background-color: #F0F5FA;
    padding: 4rem 4rem 4rem 16rem;
  }

}