.sitebody{
  display: flex;
  gap: 20rem;
  @media (max-width: 480px) {
    flex-direction: column;
    gap: 0;
  }
  .leftnav{
    position: fixed;
    top: 17%;
  }
  .CreateSolution{
    flex-grow: 1;
    padding: 0 16rem;
    .breadcrumb {
      font-size: 14rem;
      color: #ABB0C3;
      font-weight: 500;
      margin-top: 24rem;
      @media (max-width: 480px) {
        margin-top: 0;
        overflow-x: scroll;
        position: sticky;
        top: 0;
        background-color: #fff;
        padding: 16rem 0 4rem 0;
      }

      ul{
        margin: 0;
        padding: 0;
        display: flex;
        gap: 22rem;
        @media (max-width: 480px) {
          gap: 5rem;
        }
        :first-child{
          list-style-type: none;
          color: #3156A6;
        }
      }
    }
    h2{
      font-size: 24rem;
      color: #464E5F;
      font-weight: 700;
      margin-top: 4rem;
      margin-bottom: 24rem;
      @media (max-width: 480px) {
        margin-top: 16rem;
      }
    }
    h4.individualModel{
      font-size: 18rem;
      font-weight: 400;
      max-width: 50%;
      @media (max-width: 480px) {
        max-width: 100%;
        text-align: justify;
      }
    }
    .individualBtn{
      margin: 30rem 0;
      width: 250rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      padding: 10rem;
      border-radius: 10rem;
      border: 1rem solid  #ABB0C3;
      cursor: pointer;
      @media (max-width: 480px) {
        margin: 0 auto;
      }
      &:hover{
        background-color: #ABB0C380;
      }
      .individualImg img{
        height: 50rem;
        width: 50rem;
      }
      .individualTitle{
        font-size: 18rem;
        font-weight: 500;
      }
    }
    form{
      height: 80vh;
      overflow-y: scroll;
      @media (max-width: 480px) {
        overflow-y: visible;
        height: auto;
      }
      .solutionName{
        font-size: 14rem;
        color: #ABB0C3;
        font-weight: 500;
        .solutionTitle{
          padding-left: 8rem;
          margin-bottom: 4rem;
        }
      }
    }
  }
}
.develope{
  height: 100rem;
}
