.sensorChartBlockHome{
  width: 70vw;
  @media (max-width: 480px) {
  }
  .chartTitle{
    @media (max-width: 480px) {
      font-size: 16rem;
      text-align: center;
    }
  }

  h3{
    margin-top: 40rem;
    @media (max-width: 480px) {
      margin-top: 20rem;
    }
  }
  min-width: 100%;
  position: relative;
  border-left: none;
  .differenceNumber, .differenceNumberleft{
    font-size: 20rem;
    font-weight: 700;
    color: #0da46f;
    padding: 5rem;
    border-radius: 10rem;
    background-color: #fff;
    border: 1rem solid #0da46f;
    width: fit-content;
    position: absolute;
    bottom: 45%;
    left: 35%;
    display: flex;
    gap: 2rem;
  }
  .differenceNumber{
    @media (max-width: 480px) {
      font-size: 12rem;
      bottom: 30%;
      left: 25%;
    }
  }
  .centerNum{
    left: 43%;
  }
  .diffNumRed{
    border: 1rem solid #EE2B49;
    color: #EE2B49;
    @media (max-width: 480px) {
      font-size: 12rem;
      bottom: 30%;
      left: 25%;
    }
  }
  .differenceNumberleft{
    right: 35%;
    left: initial;
    @media (max-width: 480px) {
      font-size: 12rem;
      bottom: 30%;
      right: 25%;
    }
  }
}
.sensorChart {
  @media (max-width: 480px) {
    width: 140vw;
  }
  @media (max-width: 375px) {
    width: 130vw;
  }
}
.sensorChartBlockHome{
  .differenceNumber{
    @media (max-width: 480px) {
      font-size: 12rem;
      bottom: 30%;
      left: 25%;
    }
  }
  .differenceNumberleft{
    right: 35%;
    left: initial;
    @media (max-width: 480px) {
      font-size: 12rem;
      bottom: 30%;
      right: 17%;
    }
  }
}
.bottomLegends{
  font-size: 20rem;
  font-weight: 700;
  display: flex;
  gap: 100rem;
  position: absolute;
  bottom: 30%;
  left: 26%;
  color: #EE2B49;
  @media (max-width: 480px) {
    bottom: 15%;
    left: 5%;
  }
}
.sensorHomeLegends{
  gap: 250rem;
  left: 24%;
  @media (max-width: 480px) {
    left: 8%;
    font-size: 16rem;
    gap: 140rem ;
    bottom: 10%;
  }
}
.carLegends{
  gap: 350rem;
  @media (max-width: 480px) {
    font-size: 16rem;
    gap: 155rem ;
  }
}
.flatLegends{
  text-align: center;
  gap: 300rem;
  bottom: 27%;
  left: 20%;
  @media (max-width: 480px) {
    bottom: 10%;
    left: 5%;
    font-size: 14rem;
    gap: 70rem;
  }
  div{
    max-width: 150rem;
  }
}
.priorityLegends{
  gap: 280rem;
  left: 28%;
  @media (max-width: 480px) {
    bottom: 15%;
    left: 5%;
    font-size: 16rem;
    gap: 140rem;
  }
}
.green{
  color: #0da46f;
}