.accountingright{
  width: 384rem;
  padding:0 40rem ;
  border-left: #E1ECF5 1px solid;
  h4{
    font-size: 12rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #464E5F;
    margin: 0 0 12rem 0;
  }
}