.MyResultsBody {
  padding-right: 40rem;
  @media (max-width: 480px) {
    padding-right: 0;
  }
  .breadcrumb {
    font-size: 14rem;
    color: #ABB0C3;
    font-weight: 500;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      gap: 22rem;
      li{
        flex-grow: 0;
        margin-top: 4rem;
      }
      :first-child {
        color: #3156A6;
      }
    }
  }
}
.result_head{
  font-size: 24rem;
  color: #464E5F;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 20rem;
  margin-top: 0;
}