.finplanright{
  width: 304rem;
  padding:0 40rem 0 0;
  @media (max-width: 430px) {
    padding:0 16rem;
    width: 326rem;
  }
  h4{
    font-size: 12rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #464E5F;
    margin: 0 0 12rem 0;
  }
}