.chart{
  canvas{
    width: 776rem;
    height: 362rem;
  }
  h3{
    font-size: 20rem;
    font-weight: 700;
    color: #464E5F;
    margin: 28rem 0 8rem 0;
  }
  h4{
    font-size: 14rem;
    font-weight: 500;
    margin: 0;
    color: #ABB0C3;
  }
}