.IncomesBody{
  margin-left: 40rem;
  .breadcrumb {
    font-size: 14rem;
    color: #ABB0C3;
    font-weight: 500;
    ul{
      margin: 0;
      padding: 0;
      display: flex;
      gap: 22rem;
      :first-child{
        list-style-type: none;
        color: #3156A6;
      }
    }
  }
  .infoBread{
    font-size: 24rem;
    font-weight: 700;
    color: #464E5F;
    ul{
      margin: 4rem 0 16rem;
      display: flex;
      padding: 0;
      gap: 33rem;
      :first-child{
        list-style-type: none;
      }
    }
  }
  .planStatus{
    display: flex;
    align-items: center;
    gap: 16rem;
    margin-bottom: 12rem;
    margin-top: 12rem;
    .statusTitle{
      color: #0DA46F;
      font-size: 12rem;
      text-transform: uppercase;
      font-weight: 700;
    }
    .statusDate{
      font-weight: 500;
      font-size: 12rem;
      color: #ABB0C3;
    }
  }
}
.headblock{
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3{
    font-size: 24rem;
    font-weight: 700;
    margin: 0;
    color: #464E5F;
  }
}
.monthslist{
  border-bottom: #C9CFE5 1rem solid ;
}
.monthblock{
  font-size: 12rem;
  font-weight: 700;
  display: flex;
  color: #464E5F;
  justify-content: space-between;


}
img{
  width: 16rem;
  height: 16rem;
}
.planDone{
  padding: 12rem 0;
  border-top: #c9cfe5 1rem solid;
  display: flex;
  justify-content: flex-end;
  margin-top: 25rem;
  input{
    width: fit-content;
    border-radius: 12rem;
    padding: 12rem 24rem;
    background-color: #c9cfe5;
    color: #fff;
    &:hover{
      cursor: pointer;
    }
  }
}