.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name{
  width: 40rem;
  line-height: 16.1rem;
  color: #464E5F;
}
#newNotificationForm > div > div > div > form > div:nth-child(2) > div > button {
  display: none;
}
#newNotificationForm > div > div > div > form > div:nth-child(1) > div > div > div > input[type=text]{
  background-color: #F0F5FA;
  padding: 16rem;
  width: 336rem;
  border-radius: 12rem;
  color: #464e5f;
  margin-bottom: 24rem;
}
#newNotificationForm > div > div > div > form > div:nth-child(1) > label{
  color: #ABB0C3;
  padding-left: 8rem;
  margin-top: 16rem;
}
.react-datepicker{
  padding: 24rem;
  background-color: #F0F5FA;
  border-radius: 16rem;
  border: transparent;
  font-size: 14rem;
}
.react-datepicker__header{
  background: #F0F5FA;
}
.react-datepicker__navigation{
  top: auto;
  width: 32rem;
  height: 32rem;
}
.react-datepicker__navigation-icon{
  font-size: 20rem;
}
.react-datepicker__navigation--previous{
  left: auto;
}
.react-datepicker__navigation--next{
  right: 24rem;
}
.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header{
  font-size: 12rem;
  color: #464E5F;
  text-transform: uppercase;
  padding-bottom: 8rem;
}
.react-datepicker__day-names, .react-datepicker__week{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40rem;

}
.react-datepicker__day-name{
  color: #3156A6;
  text-transform: capitalize;
}
.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range, .react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected{
  background-color: rgba(49, 86, 166, 0.10);
  border-radius: 8rem;
  line-height: 40rem;
}
.react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover, .react-datepicker__month-text--selected:hover, .react-datepicker__month-text--in-selecting-range:hover, .react-datepicker__month-text--in-range:hover, .react-datepicker__quarter-text--selected:hover, .react-datepicker__quarter-text--in-selecting-range:hover, .react-datepicker__quarter-text--in-range:hover, .react-datepicker__year-text--selected:hover, .react-datepicker__year-text--in-selecting-range:hover, .react-datepicker__year-text--in-range:hover{
  background-color: rgba(49, 86, 166, 0.20);
  border-radius: 8rem;
  line-height: 40rem;
}
.react-datepicker__day:hover, .react-datepicker__month-text:hover, .react-datepicker__quarter-text:hover, .react-datepicker__year-text:hover{
  background-color: rgba(49, 86, 166, 0.20);
  border-radius: 8rem;
  line-height: 40rem;
}
.react-datepicker__day--outside-month{
  color: #ABB0C3;
}