.MatrixChartBlock{
  border-left: 1rem solid #e1ecf5;
  padding-left: 70rem;
  @media (max-width: 480px) {
    border-left: none;
    padding-left: 0;
  }

  .MyMatrixChart{

    canvas{
      margin: 0 auto;
      height: 400rem!important;
      width: 400rem!important;
      @media (max-width: 480px) {
        height: 300rem!important;
        width: 300rem!important;
      }
    }
  }
}
.full_study_matrix{
  text-transform: none;
  font-weight: 500;
  font-size: 20rem;
  color: #464e5f;
  text-align: center;
  margin-top: 30rem;
  .fullStudyLink{
    color: #3156a6;
  }
  @media (max-width: 480px) {
    left: 0;
    bottom: 0;
    font-size: 16rem;
  }
}
.chartTitle{
  font-size: 21rem;
  font-weight: 700;
  text-transform: none;
  margin-top: 16rem;
  margin-bottom: 50rem;
  text-align: center;
  @media (max-width: 480px) {
    margin-bottom: 10rem;
  }
}
